.wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header-nav,
a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
}

.haeder-nav-list {
    display: flex;
    justify-content: center;
    gap: 72px;
    margin: 26px;
}

img {
    padding-bottom: 49px;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.main-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    gap: 28px;
    margin-bottom: 66px;
}

.button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 82px 544.5px;
}

.footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 713px;
}