body {
    background-color: #171717;
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
    font-family: 'Gilam', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    font-family: 'Circe', sans-serif;
}

.button a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.first-content-title {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-top: 120px;
}

.first-content-title h2 {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-content-title p {
    width: 1182px;
    height: 56px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-main-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 468px 468px;
    grid-column-gap: 34px;
    grid-row-gap: 27px;
    margin-top: 41px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-item-container1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-item-container2 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-item-container3 {
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-item-container4 {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-item-container5 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-content-title {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 161px;
}

.second-main-item {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(2, 313px) 260px;
    grid-column-gap: 30px;
    grid-row-gap: 26px;
    margin-top: 94px;
}

.second-item-container1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E0E0E;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.second-item-container2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #242424;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.second-item-container3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.second-item-container4 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.second-item-container5 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.second-item-container6 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #E4B564;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding: 44px 113px 0px 52px;
}

.second-item-container7 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #0A0909;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 0px 52px;
}

.footer {
    margin-top: 363px;
    margin-bottom: 238px;
}

.footer-info h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
}

.footer-info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 72px;
}

.footer-item-container1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item-container2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container-text {
    width: 326px;
    height: 140px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.footer-item-container3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item-container4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-item-container5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item-container6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}