a {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-top: 63px;
    margin-bottom: 40px;
}

.logo a {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo span {
    color: #4BCAFF;
}

.header {
    background-color: #35444F;
    margin-bottom: 48px;
}

.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;
}

.header-nav-item {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFFFFF;
    padding: 23px 32px 18px 32px;
}

.header-nav-item:hover:hover {
    background-color: #222F3A;
}

.main {
    display: flex;
    gap: 52px;
    margin-bottom: 52px;
}

.menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding-top: 26px;
    padding-bottom: 26.8px;
    padding-left: 44px;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.menu-item:hover {
    padding-left: 38px;
    padding-right: 78px;
    background-color: #DBDBDB;
    color: #000000;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
}

.scale-img:hover {
    transform: scale(1.2);
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
}

.footer-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    height: 69px;
}

.footer-nav-item {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer span {
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-right: 40px;
}

.footer-nav-item:hover {
    text-decoration: underline;
    color: #3181A6;
}