*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: url(../image/Фон\ 1.png) no-repeat;
    background-size: 100%;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}

.header-wrapper {
    height: 58px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 22px;
}

.logo:hover {
    color: #3CB878;
}

.nav {
    display: flex;
    align-items: center;
    gap: 27px;
}

.nav-list {
    display: flex;
    gap: 25px;
}


.nav-list path:hover {
    fill: #3CB878;
}

.line {
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.90);
}

.header-login,
a {
    color: #FFF;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
}

.header-login a:hover {
    color: #3CB878;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 444px;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

.form {
    padding-top: 31px;
    margin: 0 auto;
    width: 325px;
}

.form span {
    color: #434343;
    text-align: center;
    font-size: 20px;
    font-family: Ubuntu;
    line-height: 20px;
}

.social-btn {
    display: flex;
    gap: 4px;
    margin-top: 15px;
    margin-bottom: 31px;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    color: #FFF;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 16px;
    border: none;
    border-radius: 3px;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.7s;
}

.google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: none;
    border-radius: 3px;
}

.google span {
    color: #FFF;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 16px;
    padding-left: 23px;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.7s;
}

.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: #848484;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    margin-bottom: 12px;
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}

.form-text input {
    width: 322px;
    height: 44.083px;
    color: #434343;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input[type="text"] {
    padding-left: 19px;
    color: #434343;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
}

input[type="email"] {
    color: #BEBEBE;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    padding-left: 19px;
}

input[type="password"] {
    color: #BEBEBE;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    padding-left: 19px;
}

input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 8px 0px #00000036;
    color: #434343;
}

#box {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.check-box {
    display: flex;
    align-items: center;
}

.check-box span {
    color: #434343;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    padding-left: 8px;
}

.check-box a {
    color: #3CB878;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;

}

.check-box a:hover {
    color: #01813F;
    text-decoration: underline;
}

.creat-account {
    margin-top: 20px;
    margin-bottom: 38px;
    width: 324px;
    height: 46px;
    color: #FFF;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.80);
}

.creat-account:hover {
    background: #01813F;
    transition: 0.7s;
}

.green-box {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    background: #3CB878;
}

.log-in a {
    position: absolute;
    color: #3CB878;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    top: 33px;
    right: 60px;
}

.log-in :hover {
    text-decoration: underline;
    color: #01813F;
}